@{
    ViewData["Title"] = "Panel RRHH";
}
<h2>Bienvenido, Recursos Humanos</h2>
<ul>
    <li><a asp-controller="Empleados" asp-action="Index">Gestionar empleados</a></li>
    <li><a asp-controller="Departamentos" asp-action="Index">Gestionar departamentos</a></li>
</ul>
