@model MiniERP.Models.Empleado

@{
    ViewData["Title"] = "Detalles del Empleado";
}

<h2>Detalles</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Edad</dt>
        <dd class="col-sm-10">@Model.Edad</dd>

        <dt class="col-sm-2">Departamento</dt>
        <dd class="col-sm-10">@Model.Departamento?.Nombre</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
